.fullBody {
    display: flex;
    background-color: #82d026;
    color: rgba(0, 0, 0, 0.78);
  }
  
  .gymImage {
    flex: 1;
    padding-right: 20px; /* Adjust padding as needed */
  }
  
  .gymImage img {
    width: 100%;
    height: auto;
  }
  
  .form {
    flex: 1;
    padding-left: 20px; /* Adjust padding as needed */
    display: flex;
    flex-direction: column;
  }
  
  .input-holder {
    margin-bottom: 20px; /* Adjust margin as needed */
  }
  
  .placeholder {
    margin-bottom: 5px;
  }
  
  .input {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
  }
  
  .submit:hover {
    background-color: #45a049;
  }
  