.days {
	display: flex;
	flex-direction: row;
	color: white;
	background-color: rgba(0, 0, 0, 0.78);
	padding: 10px 20px;
	justify-content: space-around;
	height: 40px;
	font-size: 20px;
}
.day {
	justify-content: center;
	align-items: center;
	display: flex;
	width: 100px;
	font-weight: bold;
}
.grid {
	border: solid black 3px;
	/* padding: 0px 20px; */
	display: flex;
}
.column {
	width: calc(100% / 6);
}
.session {
	color: white;
	font-size: 18px;
	background-color: #82d026;
	border: solid black 3px;
	height: 70px;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.clear {
	color: white;
	border: solid black 3px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
