.Header {
	height: 92px;
	display: flex;
	flex-direction: row;
	padding: 0px 0px 0px 15px;
	justify-content: space-between;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	.title {
		cursor: pointer;
		display: flex;
		align-items: center;
		height: 100%;
		.title-b {
			font-size: 40px;
			font-weight: bold;
			color: black;
		}
		.title-g {
			font-size: 40px;
			font-weight: bold;
			color: #82d026;
		}
	}

	.nav-links {
		display: flex;
		align-items: center;
		height: 100%;
		gap: 10px;
		font-size: 19px;
		.nav-link {
		}
		.active-nav-link {
			cursor: pointer;
			background-color: #82d026;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			color: white;
			font-weight: bold;
			padding: 0px 15px;
		}
		.nav-link {
			cursor: pointer;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			font-weight: bold;
			padding: 0px 15px;
		}
		.gd {
			height: 7px;
			width: 24px;
			background-color: #82d026;
		}
	}
	.logged-in {
		.my-classes {
		}
	}
	.user {
		padding: 0px 15px 0px 0px;
		cursor: pointer;
		height: 100%;
		display: flex;
		align-items: center;
		.user-name {
			display: flex;
			align-items: center;
			font-size: 25px;
			height: 50px;
		}
		.user-image-holder {
			width: 50px;
			aspect-ratio: 1/1;
			.user-image {
				width: 100%;
				height: 100%;
				object-fit: cover;
				overflow: hidden;
			}
		}
	}

	.handle-user {
		display: flex;
		font-size: 16px;
		justify-content: center;
		align-items: center;
		.login {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-color: #82d026;
			color: white;
			height: 100%;
			padding: 0px 10px;
			font-size: 19px;
			font-weight: bold;
			cursor: pointer;
			.dash {
				height: 7px;
				width: 24px;
			}
		}
		.register {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-color: rgba(0, 0, 0, 0.78);
			color: white;
			height: 100%;
			padding: 0px 10px;
			font-size: 19px;
			font-weight: bold;
			cursor: pointer;
			.dash {
				height: 7px;
				width: 24px;
			}
		}
	}
	.popUp {
		left: 0;
		bottom: 0;
		z-index: 3;
		height: 100%;
		width: 100%;
		overflow: hidden;
		position: absolute;
		background-color: rgba(0, 0, 0, 0.85);
		display: flex;
		justify-content: center;
		align-items: center;
		.form {
			z-index: 6;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			gap: 5px;
			background-color: white;
			border-radius: 10px;
			padding: 30px 60px;
			.input-holder {
				.placeholder-login {
					color: #82d026;
					font-weight: bold;
					font-size: 25px;
				}
				.placeholder-register {
					color: rgba(0, 0, 0, 0.85);
					font-weight: bold;
					font-size: 25px;
				}
				.input {
					padding: 10px;
					font-size: 25px;
				}
			}
			.submit-login {
				display: flex;
				justify-content: center;
				background-color: #82d026;
				color: white;
				font-weight: bold;
				padding: 5px;
				font-size: 25px;
				width: 80px;
				border-radius: 10px;
				cursor: pointer;
			}
			.submit-register {
				display: flex;
				justify-content: center;
				background-color: rgba(0, 0, 0, 0.85);
				color: white;
				font-weight: bold;
				padding: 5px;
				font-size: 25px;
				width: 110px;
				border-radius: 10px;
				cursor: pointer;
			}
		}
		.schedule-holder {
			display: flex;
			justify-content: center;
			background-color: white;
			padding: 30px 60px;
			border-radius: 10px;
		}
	}
	.drop-down {
		cursor: pointer;
		background-color: white;
		min-height: 60px;
		width: 190px;
		border: 2px black solid;
		border-radius: 3px;
		position: absolute;
		right: 0;
		margin: 71px 15px 0px 0px;
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 160px;
		flex-direction: column;
		gap: 5px;
		padding: 5px 0px;
		z-index: 3;
		.drop-down-item {
			width: 95%;
			height: 50px;
			display: flex;
			align-items: center;
			gap: 5px;
			font-size: 25px;
			.drop-down-image-holder {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 30px;
				aspect-ratio: 1/1;
				.drop-down-image {
					width: 100%;
					height: 100%;
					object-fit: cover;
					overflow: hidden;
				}
			}
		}
		.drop-down-item:hover {
			background-color: rgba(0, 0, 0, 0.2);
		}
	}
}
