.Classes {
	min-height: 100%;
	position: relative;
	.image {
		width: 100%;
		background-image: url("../../assets/images/classes-time-bg.jpg");
	}
	.gym {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 100px 0px;
		.gd-big {
			height: 7px;
			width: 60px;
			background-color: #82d026;
		}
		.gym-title {
			font-weight: bold;
			font-size: 40px;
		}
		.gym-description {
			text-align: center;
			width: 800px;
			line-height: 1.8rem;
		}
		.icons {
			margin-top: 50px;
			display: flex;
			gap: 20px;
			.icon-holder {
				cursor: pointer;
				width: 15vw;
				height: 180px;
				background-color: #82d026;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 10px;
				.icon-image {
					width: 70px;
					aspect-ratio: 1;
				}
				.icon-title {
					color: white;
					font-size: 26px;
					font-weight: bold;
				}
			}
		}
	}
	.member_classes {
		display: flex;
		flex-direction: column;
		gap: 20px;
		justify-content: center;
		background-image: url("../../assets/images/booking.jpg");
		margin-bottom: 20px;
		.join-sessions {
			display: flex;
			flex-direction: column;
			gap: 10px;
			padding: 40px 200px;
			.join-session-title {
				color: white;
				font-size: 30px;
				font-weight: bold;
			}
			.input-holder {
				display: flex;
				flex-direction: column;
				width: 100%;
				.placeholder {
					color: white;
					font-weight: bold;
					font-size: 20px;
					margin-bottom: 10px;
				}
				.input {
					padding: 10px;
					font-size: 20px;
					width: 450px;
				}
			}
			.submit-button {
				height: 60px;
				background: black;
				color: white;
				padding: 0;
				font-style: normal;
				font-size: 14px;
				letter-spacing: 0.5px;
				text-transform: uppercase;
				font-weight: bold;
				cursor: pointer;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 450px;
			}
		}
	}
}
