.fullBody {
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.78);
    font-family: 'Arial', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box; 
    border-bottom: 25px solid white;
}
 
.gymImage {
    float: right;
    padding-right: 100px;
    margin: 20px;
    width: 500px;
    height: 500px;
}
.gymImage img{
    width: 500px;
    height: 500px;
}
  
.Title {
    max-width: 600px;
    padding: 10px 20px;
  
}
  
.Title h2 {
    color: rgba(0, 0, 0, 0.78);
}
  
.Title p {
    margin-bottom: 20px;
}
  
  
  